HF_TOKENS=your_huggingface_token_here
SECRET_KEY=your_secret_key_here
ALGORITHM=your_algorithm_here
ACCESS_TOKEN_EXPIRE_MINUTES=your_token_expiry_time_in_minutes_here
SQLALCHEMY_DATABASE_URL=your_database_url_here